/* global styles */
html{
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
    
}
.background-custom {
    background: linear-gradient(to bottom, #121D2B, #0D47A1); 
}


ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s;
}
img{
    display: block;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}
/* loader */
.loading-screen,.inner-loading-screen{
    z-index: 999;
}

/* side-menu */
nav>*{
    margin-bottom: 20px;
}
.menu-controller span,.img-card,.cursor-pointer{
    cursor: pointer;
}
.menu-controller img{
    width: 50px;
}
.menu-controller {
     
    background: linear-gradient(to bottom, #435663, #0D47A1);
    color: #121D2B; 
}

.menu-controller li span:hover {
    color: #10274a; 
}
section.background-custom {
    background: linear-gradient(to bottom, #121D2B, #0D47A1);
    padding-bottom: 60px; 
    min-height: 100vh; 
}

@media (max-width: 1200px) {
    section.background-custom {
        padding-bottom: 80px; 
    }
}

@media (max-width: 780px) {
    section.background-custom {
        padding-bottom: 100px; /* adjust as needed */
    }
}
/* main content */
.img-overlay{
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
}
.img-card:hover .img-overlay{
    height: 100%;
    transition: height 0.5s;
}
/* search */
::placeholder{
    color:grey !important;
}
/* button submit */
.btn-submit {
  background: linear-gradient(to bottom, #121D2B, #0D47A1);
  color: white!important;
  padding: 12px 24px; 
  border: none; 
  border-radius: 8px; 
  font-size: 16px; 
  font-weight: bold; 
  opacity: 0.6; 
  transition: all 0.3s ease; 
}


.btn-submit:hover:enabled {
  background: linear-gradient(to top, #121D2B, #0D47A1); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  transform: translateY(-3px); 
}

.btn-submit:active:enabled {
  transform: translateY(2px); 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
}
